parameters:
	inferPrivatePropertyTypeFromConstructor: true

	level: 6

	paths:
		- tests

	tmpDir: .build/phpstan/tests/

	ignoreErrors:
		- identifier: missingType.iterableValue

		# This is a sanity check
		- path: tests/CpuCoreCounterTest.php
		  message: '#assertInstanceOf\(\) with .Exception. and Exception will always evaluate to true.#'
