name: "Integrate"

on: # yamllint disable-line rule:truthy
    pull_request: null
    push:
        branches:
            - "main"

jobs:
    coding-standards:
        name: "Coding Standards"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "7.4"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php-version }}"
                    tools: "phive"

            -   name: "Correct the PHIVE link"
                run: "ln -sf $(which phive) ./tools/phive && touch -c ./tools/phive"

            -   name: "Run the CS linter"
                run: "make cs_lint"

    auto-review:
        name: "Auto-Review"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "8.1"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php-version }}"

            -   name: "Correct the PHIVE link"
                run: "ln -sf $(which phive) ./tools/phive && touch -c ./tools/phive"

            -   name: "Run Auto-Review tests"
                run: "make autoreview"

    tests:
        name: "Tests"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "7.4"
                    - "8.0"
                    - "8.1"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php-version }}"

            -   name: "Run the PHPUnit tests"
                run: "make phpunit"

    infection:
        name: "Infection"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "8.1"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "xdebug"
                    php-version: "${{ matrix.php-version }}"
                    tools: "phive"

            -   name: "Correct the PHIVE link"
                run: "ln -sf $(which phive) ./tools/phive && touch -c ./tools/phive"

            -   name: "Run PHPUnit with coverage"
                run: "make phpunit_coverage_infection"

            -   name: "Run Infection"
                run: "make infection"
