name: "Integrate"

on: # yamllint disable-line rule:truthy
    pull_request: null
    push:
        branches:
            - "main"

jobs:
    coding-standards:
        name: "Coding Standards"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "7.4"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php-version }}"

            -   name: "Set up problem matchers for PHP"
                run: "make cs_lint"

    auto-review:
        name: "Auto-Review with PHP ${{ matrix.php-version  }}"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "8.0"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php-version }}"

            -   name: "Run phpstan/phpstan"
                run: "make autoreview"

    tests:
        name: "Tests with PHP ${{ matrix.php-version  }}"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "8.0"
                    - "8.1"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php-version }}"

            -   name: "Runs the unit tests"
                run: "make phpunit"

    infection:
        name: "Infection with PHP ${{ matrix.php-version  }}"
        runs-on: "ubuntu-latest"
        strategy:
            matrix:
                php-version:
                    - "8.0"
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v3.1.0"

            -   name: "Set up PHP"
                uses: "shivammathur/setup-php@2.22.0"
                with:
                    coverage: "xdebug"
                    php-version: "${{ matrix.php-version }}"

            -   name: "Runs PHPUnit with coverage"
                run: "make phpunit_coverage_infection"

            -   name: "Runs Infection"
                run: "make infection"
